<link rel="stylesheet" href="/css/footer.css"/>
<footer>
  <div class="about">
    <h1><span class="logo-text">SAI </span> <span>Blog</span></h1>
    <p>
    
    </p>
    <!-- Contacts -->
    <div class="contact">
      <span>
        <i class="fas fa-phone"></i>
       8106270681
      </span>
      <span>
        <i class="fas fa-envelope"></i>
        
        <a href="sathwikr73@gmail.com">
          sathwikr73@gmail.com
        </a>
      </span>

    </div>
    <!-- socials -->
    <div class="socials">
     
      <a href="https://github.com/sathwik156876/">
        <i class="fab fa-github"></i>
      </a>
   
      <a href="https://sathwiksite.netlify.com/">
        <i class="fab fa-link"></i>
      </a>
      <a href="https://www.linkedin.com/in/sathwik-reddy-220745213/">
        <i class="fab fa-linkedin"></i>
      </a>
     
</footer>
